@{
    ViewData["Title"] = "Playlist";
}

<div class="text-center">
    <h1 class="display-4">Playlist</h1>
    <p>Welcome to your first step towards creating your ultimate playlist and sharing it with world</p>
    <img src="StockImg/Playlist1.jpg" alt="Sample Photo" />
</div>

<div class="deezer-widget-player"
     data-src="https://www.deezer.com/plugins/player?format=classic&autoplay=false&playlist=true&width=700&height=350&color=007FEB&layout=dark&size=medium&type=radio&id=artist-27&app_id=1"
     data-scrolling="no" data-frameborder="0" data-allowTransparency="true" data-width="700"
     data-height="350">

</div>

<script type="text/javascript" src="./app.js">

</script>

<a asp-action="MusicSearch">Search Music</a>