@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Playlist</h1>
        <p>Welcome to your first step towards creating your ultimate playlist and sharing it with world</p>
        <img class="col-md-12" src="StockImg/Playlist1.jpg" alt="Sample Photo" />
    </div>

    <script type="text/javascript" src="/site.js">

    </script>

    @*<div>
        <form action="Home/MusicSeach">
            <label for="userInput"> Search music by artist or song title </label>
            <input type="text" id="userInput" name="userInput" value="eminem" /><br />
            <input type="submit" value="Search" />
        </form>
    </div>

    <a asp-action="MusicSearch">Search Music</a>*@