@{
        ViewData["Title"] = "Playlist";
}

<div class="text-center">
    <h1 class="display-4">Playlist</h1>
    <p>Welcome to your first step towards creating your ultimate playlist and sharing it with world</p>
    <img src="StockImg/Playlist1.jpg" alt="Sample Photo" />
</div>